$grey-100: #efefef;
$grey-200: #e1e1e1;
$grey-300: #5f5d5b;
$grey-400: #6e6868;
$grey-500: #3c3c3c;

$primary-100: #f5f2ea;
$primary-400: #93b4fb;
$primary-500: #2e6ff9;

$desc-100: rgba(255, 255, 255, 0.8);
$desc-200: rgba(255, 255, 255, 0.5);

// carousel [prime-react]
$custom-size-carousel-button: 4rem;
$gap-carousel-item: 1rem;
