@import '../../../../app/styles/variables.scss';

.p-calendar.appointment-calendar {
  & > .p-inputtext {
    border: 1px solid $grey-300;
    font-size: 1.25rem;
  }
  width: 100%;
  border-radius: 0.6rem;
}

.appointment-calendar-panel {
  font-size: 1.5rem;

  .p-datepicker-header .p-datepicker-title .p-datepicker-year:hover {
    cursor: pointer;
  }

  &.dark {
    background: $dark-mode-color-700 !important;
    color: white;

    &:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):not(.p-highlight):hover {
      color: #4338ca;
    }

    table td > span.p-highlight {
      font-weight: 800;
    }

    .p-datepicker-header .p-datepicker-title .p-datepicker-year {
      background: transparent;
    }

    .p-datepicker-header .p-datepicker-title .p-datepicker-year,
    .p-datepicker-header .p-datepicker-title .p-datepicker-month,
    .p-datepicker-header .p-datepicker-prev,
    .p-datepicker-header .p-datepicker-next {
      color: white;
    }
  }
}
