@import '../../../../app/styles/variables.scss';

.p-calendar.overview-calendar {
  flex-shrink: 0;
  & > .p-inputtext {
    font-size: 1.5rem;
    font-weight: 700;
    border-color: transparent;

    &:hover {
      border-color: transparent;
    }

    &:focus {
      border-color: transparent !important;
      box-shadow: none !important;
    }
  }
}

.datePicker-panel {
  &.dark {
    background: $dark-mode-color-700 !important;
    color: white;
  }

  & .p-datepicker-title > *,
  & .p-datepicker-prev,
  * .p-datepicker-next {
    color: white !important;
  }
}

.calendar-today-button,
.calendar-clear-button {
  &.dark {
    color: white;
  }
}

.p-datatable {
  font-size: 1.4rem;
  width: 100% !important;

  .dataTable-row {
    &:not(:last-child),
    &:not(:last-child) {
      margin: 1.5rem 0;
    }

    & > td {
      border: none !important;
    }
  }

  .p-inputtext {
    border-color: #ced4da;

    &:not(.p-disabled):hover {
      border-color: $primary-500 !important;
    }
  }

  .p-dropdown:not(.p-disabled):hover,
  .p-calendar :not(.p-disabled):hover {
    border-color: $primary-500 !important;
  }

  &.overview-dataTable-light {
    .p-datatable-table {
      background: white;
    }

    .dataTable-row {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 0.8rem;
    }
  }

  &.dataTable-dark {
    & .p-datatable-thead > tr > th .p-sortable-column-icon,
    & .p-datatable-thead > tr > th .p-column-title {
      color: white;
    }

    & .p-sortable-column {
      &.p-highlight .p-sortable-column-icon {
        color: $primary-500;
      }

      &:focus {
        box-shadow: none;
      }
    }

    & .p-datatable-tbody > tr {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 2px 0px;
    }

    & .p-datatable-tbody > tr.p-selectable-row:not(.p-highlight):not(.p-datatable-emptymessage):hover {
      background: $dark-mode-color-600;
    }

    & .p-sortable-column:not(.p-sortable-disabled):hover {
      background: $navy-100;
      & .p-sortable-column-icon {
        color: $primary-500;
      }
    }
  }

  &.overview-dataTable-dark {
    & .p-datatable-table,
    & .p-datatable-thead > tr > th,
    & .p-datatable-tbody > tr {
      background: $dark-mode-color-700;
    }
  }
}
