@import '../../../../app/styles/variables.scss';

.p-calendar {
  flex-shrink: 0;
  & > .p-inputtext {
    font-size: 1.5rem;
    font-weight: 700;
    border-color: transparent;

    &:hover {
      border-color: transparent;
    }

    &:focus {
      border-color: transparent !important;
      box-shadow: none !important;
    }
  }
}

.p-datatable {
  font-size: 1.4rem;

  .p-datatable-table {
    background: white;
  }

  .dataTable-row {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 1.5rem 0;
    border-radius: 0.8rem;

    & > td {
      border: none !important;
    }
  }
}
