.p-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  padding: 2rem 0;
}

.p-dataview {
  &-footer {
    background: transparent !important;
    border: none !important;
  }
}

.p-dropdown {
  min-width: 25%;

  &-label,
  &-filter,
  &-empty-message {
    font-size: 1.6rem;
  }
}
