@import '../../../../app/styles/variables.scss';

.p-datatable {
  font-size: 1.4rem;
  width: 100% !important;

  .dataTable-row {
    &:not(:last-child),
    &:not(:last-child) {
      margin: 1.5rem 0;
    }

    & > td {
      border: none !important;
    }
  }

  .p-inputtext {
    border-color: #ced4da;

    &:not(.p-disabled):hover {
      border-color: $primary-500 !important;
    }
  }

  .p-dropdown:not(.p-disabled):hover,
  .p-calendar :not(.p-disabled):hover {
    border-color: $primary-500 !important;
  }

  &.users-dataTable {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    .p-datatable-table {
      background: transparent;
    }

    .dataTable-row {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 0.8rem;
    }

    .users-footer {
      background: transparent;
    }

    &.dark {
      .p-datatable-header,
      .p-datatable-footer,
      .p-datatable-thead > tr > th,
      .users-footer {
        background: $dark-mode-color-600;
      }

      & .p-datatable-thead > tr > th .p-sortable-column-icon,
      & .p-datatable-thead > tr > th .p-column-title,
      .users-footer * {
        color: white;
      }

      .p-inputtext {
        color: white;
      }

      .p-column-filter-element {
        color: white;
      }

      .users-footer {
        .p-highlight {
          background: $dark-mode-color-500;
        }

        .p-paginator-page:not(.p-highlight):hover {
          background: $desc-200;
          color: white;
        }
      }

      & .p-sortable-column {
        &.p-highlight .p-sortable-column-icon {
          color: $primary-500;
        }

        &:focus {
          box-shadow: none;
        }
      }

      & .p-datatable-tbody > tr {
        background: $dark-mode-color-600;
      }

      & .p-datatable-tbody > tr.p-selectable-row:not(.p-highlight):not(.p-datatable-emptymessage):hover {
        background: $dark-mode-color-600;
      }

      & .p-sortable-column:not(.p-sortable-disabled):hover {
        background: $navy-100;
        & .p-sortable-column-icon {
          color: $primary-500;
        }
      }
    }
  }
}

.dataTable-dark {
  .p-dropdown-item.p-highlight {
    background: $dark-mode-color-500 !important;
  }
}

.users-calendar {
  font-size: 1.3rem !important;
}
