@import '../../../app/styles/variables.scss';
.p-carousel {
  &-indicators {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  &-indicator {
    & > .p-button {
      width: 4rem !important;
      border: none;
      border-radius: 12px !important;
      padding: 0;
      background-color: white !important;

      &:focus {
        box-shadow: none;
      }
    }

    &.p-highlight {
      & > .p-button {
        border-color: white !important;
        background-color: $primary-500 !important;
      }
    }
  }

  & .no-action {
    & > .p-carousel-prev,
    & > .p-carousel-next {
      display: none;
    }
  }
  & .custom-action {
    & .p-carousel-prev,
    & .p-carousel-next {
      width: $custom-size-carousel-button;
      height: $custom-size-carousel-button;

      & .pi {
        font-size: 1.4rem !important;
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem #ddd;
      }
    }

    &.square {
      & .p-carousel-prev,
      & .p-carousel-next {
        border-radius: 0 !important;
      }
    }
  }

  & .no-indicators {
    .p-carousel-indicators {
      display: none;
    }
  }
}

.carousel-header {
  margin: 0 $custom-size-carousel-button + $gap-carousel-item + 1rem;
}
